

	<div class="form-group">
 	   	<%= f.label :city, "City" %>
    	<%= f.text_field :city, :class => "form-control" %>
    </div>
	
	<div class="form-group">
    	
    	<%= f.label :date, "Date" %></li>

    	<%= f.date_select :date, :class => "form-control"  %></li>
    	
	</div>
	<div class="form-group">
    	<%= f.label :note, "Note" %>
    	<%= f.text_area :note, :class => "form-control" %>
	</div>