
<h1>TRIP DIARY</h1>
<table>
	<tr>
		<td><%= "City" %></td>
    	<td><%= "Date" %></td>
    	
    	
	</tr>
<% @travellers.each do |t| %>
	
 	<tr>
    	<td>
    	<%= t.city %>
    	</td>
    	<td>
    	<%= t.date %>
    	</td>
    	
		<td>    
    	<%= link_to "Show", traveller_path(t), :class => "btn btn-primary" %>
    	<%= link_to 'Edit', travellers_path(:traveller_id => t), :class => "btn btn-default" %>
    	<%= link_to 'Delete', traveller_path(t), :method => :delete, :data =>{:confirm =>"R U SURE???"}, :class => "btn btn-danger" %>
    	</td>
  	</tr>
<% end %>
</table>

<hr>
  <%= link_to 'New Page', travellers_path, :class => "btn btn-default" %>

<%= paginate @travellers %>

<%
  if params[:traveller_id]
    url = traveller_path(@traveller)
  else
    url = travellers_path
  end
%>


<%= form_for @traveller, :url => url do |f| %>
    
	<% if @traveller.errors.any? %>
      <ul>
          <% @traveller.errors.full_messages.each do |m| %>
            <li><%= m %></li>
        <% end %>
      </ul>
  <% end %>

	<%= render :partial => 'form', :locals => { :f => f } %>

    <%= f.submit "Submit",:class => "btn btn-primary" %>
<% end %>
