

<table>
	<tr>
		<td><%= "city" %></td>
    	<td><%= "date" %></td>
    	<td><%= "note" %></td>
	</tr>
<% @travellers.each do |t| %>
	
 	<tr>
    	<td><%= t.city %></td>
    	<td><%= t.date %></td>
    	<td><%= t.note %></td>
    	<td><%= link_to " (GET_XML)", traveller_path(t, :format => :xml) %></td>
    	<td><%= link_to " (GET_JSON)", traveller_path(t, :format => :json) %></td>
    	<td><%= link_to "Show", traveller_path(t) %></td>
    	<td><%= link_to 'Edit', edit_traveller_path(t) %></td>
    	<td><%= button_to 'Delete', traveller_path(t), :method => :delete, :data => { :confirm => "Are you sure?" } %></td>
  	</tr>
<% end %>
</table>
<p><%= link_to 'New Event', new_traveller_path %></p>

<%= paginate @travellers %>