

<ul>
<% @travellers.each do |t| %>
  <li>
    <%= t.city %>
    <%= link_to "Show", traveller_path(t) %>
    <%= link_to 'Edit', edit_traveller_path(t) %>
    <%= link_to 'Delete', traveller_path(t), :method => :delete, :data => { :confirm => "Are you sure?" } %>
  </li>
<% end %>
</ul>
<p><%= link_to 'New Event', new_traveller_path %></p>

<%= paginate @travellers %>